/*------ Page d'Accueil------ */
#index-section {
	margin-top:100px;
	width:100%;
	max-width:none;
}

/*Image de fond*/
#img-bckd {
    position:relative;
    background-image: url("../images/index_bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    margin-left:auto;
    margin-right:auto;
    height:calc(100vh - 100px);
    width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	border-bottom:2px solid #027400;
}  

/*Contenu sur image de fond*/
#all-content {
    position:initial;
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    width:80%;
    max-width:900px;
}

/*Cadre + texte*/
#main-content {
    background:rgba(1,73,0, 0.6);
    backdrop-filter: blur(10px);
    border-radius:20px;
    padding:30px;
}

#main-hypertext {
    color:#D6D001;
    font-family:'Corbel';
    font-size:25px;
    text-decoration:underline;
}
#main-hypertext:hover{
    color:#FFF800;
}

/*Boutons*/
#main-btn, #download-pdf {
    display:block;
    color:white;
    background-color:#014900;
    border:none;
    border-radius:10px;
    padding:20px 40px;
    font-family:'Corbel';
    font-size:25px;
    font-weight:bold;
    text-decoration:none;
    margin-left:auto;
    margin-right:auto;
	margin-top:30px;
    line-height:25px;
    margin-bottom:20px;
}
#main-btn:hover, #download-pdf:hover {
	background-color:#027400;
	cursor:pointer;
}

#greentech-content {
	width:85%;
	max-width:1200px;
	margin-right:auto;
	margin-left:auto;
}

/*Infos greentech*/
#infos-greentech {
	position:absolute;
	left:50%;
    transform: translate(-50%,0%);
	bottom:10px;
	width:180px;
	color:white;
	text-align:center;
	font-family:'Corbel';
	font-size:25px;
	line-height:30px;	
  	text-shadow:0px 0px 5px white; /*créé la surbrillance*/
}

/*------ Pages organisations ------ */
#logo {
	display:block;
	width:150px;
	height:150px;
	margin-left:auto;
	margin-right:auto;
	filter:drop-shadow(0 1mm 0.3mm lightgrey);
}

table {
	width:70%;
	border-collapse:collapse;
	margin:auto;
}

ul {
	margin-top:0;
}

.left-content, #last-left-content {
	text-align:center;	
	font-family:'Corbel';
	color:white;
	font-weight:bold;
	font-size:20px;
	background-color:#012900;
	padding:20px;
	width:40%;
	border:5px solid #097200;
}

#last-left-content {	
	color:#D6D001;
}

.right-content {
	text-align:justify;
	white-space:normal;
	padding:20px;
	width:60%;
	font-family:'Corbel';
	font-size:17px;
	border:5px solid #097200;
}

.dates{
	font-weight:bold;
	font-size:1.2em;
}

.managers, .exemple, .entreprises {
	font-style:italic;
}

.types, .soustitres {
	text-decoration:underline;
}

/*------ Page Comparaisons ------*/
article img {
	display:block;
	width:150px;
	height:150px;
	filter:drop-shadow(0 1mm 0.3mm lightgrey);
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
}

#strat-comp {
	display:flex;
	flex-direction:row;
}

#strat-separator {
	width:1px;
	border:2px solid #012900;
	overflow:auto;
	background-color:#012900;
	border-radius:5px;
	margin-left:50px;
	margin-right:50px;
}

/*------ Page À propos ------*/
#apropos-content, #mentions-content {
	margin-bottom:9.5vh;
}

#contributeurs {
    justify-content:center;
    display:flex;
    width:100%;
    margin-top:20px;
    flex-direction:row;
}

#content-left, #content-right {
    display:flex;
    flex-direction:column;
    margin-left:10px;
    margin-right:10px;
}

#content-left > p, #content-right > p {
	text-align:center;
	margin-top:-20px;
}

.names {
    font-weight:bold;
    font-family:'Corbel';    
}

#download-pdf {
	width:40%;
	text-align:center;
}

/*------ Page Mentions-légales ------ */
.nom, #lescigales {
	color:#097200;
}

.infos-perso {
	color:#012900;
	text-decoration:underline;
	font-weight:bold;
}

#lescigales {
	text-decoration:underline;
}

#rhétorie {
	color:red;
	font-weight:bold;
	filter:drop-shadow(0 2mm 0.9mm darkred);
}

.mentions-legales-contact {
	display:flex;
	flex-direction:row;
	margin-bottom:25px;
	margin-top:-5px;
}

.mentions-legales-contact > p {
	margin-left:0;
	margin-top:0;
	margin-right:3px;
	margin-bottom:0px;
}

/*------ Responsivity ------ */

/*Mobil-mode*/
@media (max-width:850px) {
    /*Page d'accueil*/
    #main-btn {
        width:100%;
		font-size:20px;
		line-height:25px;
		margin-top:20px;
    }

	#main-hypertext {
		font-size:20px;
	}

    #img-bckd{
        width:100%;
        height:auto;
		padding-bottom:100px;
		padding-top:50px;      
    }

	#infos-greentech {
		font-size:20px;
		line-height:25px;
	}

	/*Pages organisations*/
	table {
		width:100%;
	}

	ul {
		padding-left:20px;
	}
	
	.left-content, #last-left-content {
		font-size:20px;
	}

	.right-content {
		font-size:18px;
	}

	/*Page comparaison*/
	article img {
		width:120px;
		height:120px;
	}

	#strat-comp {
		flex-direction:column;
	}

	#strat-separator {
		height:1px;
		width:100%;
		margin-left:auto;
		margin-right:auto;
		margin-top:30px;
		margin-bottom:30px;
	}

	/*Page à propos*/
	#download-pdf {
		width:auto;
		font-size:20px;
		line-height:25px;
		text-align:center;
	}

	/*Page mentions-légales*/
	.mentions-legales-contact {
		flex-direction:column;
	}
}